---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { t } from "@config";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import Info from "@/components/mdx/Info.astro";
import Success from "@/components/mdx/Success.astro";
---

<BaseLayout title="İletişim">
  <MainCard
    title="İletişim Seçenekleri"
    description="Herhangi bir konuda benimle iletişime geçmekten çekinmeyin."
    textOverlay="CONTACT"
    infoIcon="lucide:contact"
  >
  <br />  
  <Success>İletişime geçtiğiniz için teşekkürler. <br /> En kısa sürede size geri dönüş yapıyor olacağım.</Success>
   <br /><br />
  <h2 class="contact-title">Aşağıdaki yöntemleri de kullanarak iletişime geçebilirsiniz.</h2><br />
    <Info><b>Mail Gönder</b> - <a href="mailto:eser360@gmail.com?subject=%C4%B0leti%C5%9Fim%20Formu%20-%20EserSevinc%20Blog">İletişime Geç</a></Info><br />
    <Info><b>Signal</b> - <a href="https://signal.me/#eu/CMLd22HJMz2jVyj_GFo-KU0uwU2hifce_mRIcS2BhFAnfjTeop1EKLTbTpFqvOnP" target="_blank">EserSevinc.01</a></Info><br />
    <Info><b>Mastodon</b> - <a href="https://mastodon.social/@esersevinc" target="_blank">@esersevinc@mastodon.social</a></Info><br />
    <Info><b>Matrix</b> - <a href="https://matrix.to/#/@esersevinc:matrix.org" target="_blank">@esersevinc:matrix.org</a></Info><br />
  </MainCard>
</BaseLayout>