---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
---

<BaseLayout title="Anasayfa">
  <MainCard
    title="Eser Sevinç"
    description="Yazılım sektöründe; İş Analisti, Proje Yöneticisi ve Ekip Liderliği deneyimlerimi aktardığım blogum."
    textOverlay="HOME"
    infoIcon="lucide:info"
  >
    <div class="space-y-8">
      <!-- Hero Section -->
      <section class="py-6">
        <div class="flex flex-col items-center text-center">
          <h1 class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
            🌟 Merhaba, ben Eser!
          </h1>
          <p class="text-xl text-base-content/80 max-w-3xl mb-8">
            Yazılım sektöründe <span>İş Analisti</span> ve <span>Proje Yöneticisi</span> olarak çalışıyorum. Aynı zamanda Ekip Lideriyim.
              İçerik üretmeyi, bir şeyler yazmayı ve insanlara yardımcı olmayı seviyorum.
              Blogumda, iş hayatımdaki tecrübelerimi aktarıyorum.
          </p>
          <p class="text-xl text-base-content/80 max-w-3xl mb-8">
            20+ yıllık çalışma deneyimim ile birlikte 6 yıldır yazılım sektöründe <span>İş Analisti, Proje Yöneticisi ve Ekip Lideri</span> olarak çalışıyorum.
            Bir çok kuruluşa, yönetim sistemleri üzerine hem kavramsal hem de uygulama eğitimleri verdim. Bu şirketlerin ekipleri ve ürünleriyle başarıya ulaşmasına yardımcı oldum.
          </p>
          <p class="text-xl text-base-content/80 max-w-3xl mb-8">
            Ayrıca kendimi bildim bileli yazmaktan, okumaktan ve 100+ km bisiklet sürmekten hoşlanıyorum.
          </p>
          <br />
          <div class="flex flex-wrap gap-4 justify-center">
            <a href="/blog" class="btn btn-primary gap-2 btn-shine-effect">
              <Icon name="lucide:book-open" class="w-5 h-5" />
              <span>Blog'u keşfedin</span>
            </a>
          </div>
        </div>
      </section>
  </MainCard>
</BaseLayout>
