<!-- Giscus.astro -->
<section class="mt-10 mx-auto">
    <script src="https://giscus.app/client.js"
        data-repo="eser360/esblog"
        data-repo-id="R_kgDOOaF1dw"
        data-category="Announcements"
        data-category-id="DIC_kwDOOaF1d84CxEIs"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="tr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
  </section>

  <script is:inline>
    function updateGiscusTheme() {
      // Check if 'dark' is in the current classes
      const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
  
      // Get the Giscus widget iframe
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;
  
      // Set the Giscus theme widget based on the current site's theme
      iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, 'https://giscus.app');
    }
  
    // Check constantly for a change in the current classes
    const observer = new MutationObserver(updateGiscusTheme);
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
  
    // Trigger the script on page load
    window.onload = () => {
      updateGiscusTheme();
    };
  </script>